// width
$page-width-normal = 998px

// colors
$link-color = #00a1cd
$black-color = #333
$white-color = #fff
$border-color = #d0d4dc
$bg-green = #22b14c
$grey-color = #f5f7f9
$orange-color = #ff7b36

// radius
$radius = 3px

// font-size
$small-text = 11px
$normal-text = 13px
$small-title = 16px
$medium-title = 18px
$big-title = 24px

$clearfix
    &:after
        clear: both
        display: table
        content: ""
