.selectLanguage
    display: inline-block
    width: 60px
    margin-left: 25px
    padding-left: 30px
    text-align: left
    vertical-align: middle

.dropdownWrap
    position: relative

.dropdownValue
    &:before
        background-image: url(/image/stylus_sprites/purchases_9ff26b9.png)
        content: ''
        position: absolute
        display: block
        right: 8px
        top: 50%
        margin-top: -3px
        background-position: -118px -50px
        width: 9px
        height: 6px
    overflow: hidden
    position: relative
    display: block
    border: 1px solid #d0d4dc
    padding: 10px 24px 10px 10px
    color: #333
    text-decoration: none
    background: #fff
    cursor: pointer
    word-wrap: break-word
    border-radius: 3px
    user-select: none
    text-align: left
    transition: background-color .2s linear

.dropdownActive
    background: #ebedee

.dropdownList
    position: absolute
    top: 100%
    left: 0
    display: block
    margin-top: 2px
    padding: 5px 0
    min-width: 100%
    overflow-y: auto
    box-sizing: border-box
    border: 1px solid #d0d4dc
    border-radius: 3px
    background: #fff
    color: #333
    z-index: 3

.listItem
    &:hover
        background-color: #ebedee
    position: relative
    padding: 6px 10px
    cursor: pointer
    word-wrap: break-word
    text-shadow: none

.hide
    display: none
